/* common css start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css end */
#marks_distribution{
    background-color:aqua;
    height: 800px;
    position: relative;

}

.marks_content{
    border: 1px solid #000;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.marks_content h1{
    font-size: 30px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #000;
    padding: 30px ;
}
.marks_content input{
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border: 1px solid #000;
}
.marks_content input::placeholder{
    font-size: 14px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #000;
    padding-left: 10px;
}
.marks_content button{
    border-radius: 10px;
    padding: 10px 25px;
    border: 1px solid #000;
    margin-top: 20px;
    background-color: #2004f7;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}
#ouputgrade{
    /* display: none; */
    margin-top: 20px;
}
#ouputgrade p{
    font-size: 30px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #000;
    padding: 0 20px;
    padding-bottom: 20px;
}